<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="21447uwe.bse.BSEtunes" Publisher="CN=438A661D-E2DD-4C49-9A75-9143B493592A" Version="1.1.0.20" />
  <Properties>
    <DisplayName>BSEtunes</DisplayName>
    <PublisherDisplayName>uwe.bse</PublisherDisplayName>
    <Logo>Assets\BSELogo50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BSE.Tunes.StoreApp.App">
      <m2:VisualElements DisplayName="BSEtunes" Square150x150Logo="Assets\BSELogo150x150.png" Square30x30Logo="Assets\BSELogo30x30.png" Description="BSEtunes Client" ForegroundText="light" BackgroundColor="#1f5fbc">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\BSELogo620x300.png" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="BSE.Tunes.StoreApp.App">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>