<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="21447uwe.bse.BSEtunes" Publisher="CN=438A661D-E2DD-4C49-9A75-9143B493592A" Version="1.0.0.14" />
  <Properties>
    <DisplayName>BSEtunes</DisplayName>
    <PublisherDisplayName>uwe.bse</PublisherDisplayName>
    <Logo>Assets\BSELogo50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="BSE.Tunes.StoreApp.App">
      <VisualElements DisplayName="BSEtunes" Logo="Assets\BSELogo150x150.png" SmallLogo="Assets\BSELogo30x30.png" Description="BSEtunes Client" ForegroundText="light" BackgroundColor="#1f5fbc">
        <DefaultTile ShowName="logoOnly" />
        <SplashScreen Image="Assets\BSELogo620x300.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="mp3">
            <SupportedFileTypes>
              <FileType>.mp3</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
        <Extension Category="windows.backgroundTasks" StartPage="Views\MainPage.xaml">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>