<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Callisto" version="1.2.9" targetFramework="win" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="win" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="win" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="win" />
  <package id="Microsoft.Composition" version="1.0.16" targetFramework="win" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="win" />
  <package id="MVVMHelpers.Metro" version="2013.1.00.07" targetFramework="win" />
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="win" />
  <package id="Thinktecture.IdentityModel.Client" version="1.0.0" targetFramework="win" />
  <package id="Unity" version="3.0.1304.0" targetFramework="win" />
</packages>